{% load static %}
{% include "common/base.html" %}

<div class="content">
  {% include "common/header.html" %}
  <h2>You have {{ object_list|length }} team member{% if object_list|length != 1 %}s{% endif %}.</h2>
  <div class="right-align">
    <a href="/add" class="button">Add Member</a>
  </div>
  <ul>
    {% for user in object_list %}
    <a class="table-cell" href="edit/{{ user.id }}">
      <li>
        <img src="{% static 'images/faceless.svg' %}" />
        <br />
        {{ user.first_name }} {{ user.last_name }} {% if user.is_admin == True %} (Admin) {% endif %}
        <br />
        {{ user.phone_number }}
        <br />
        {{ user.email }}
      </li>
    </a>
    {% empty %}
    <li>No teammates at the moment. Click add member on the right side of the screen to add a new teammate.</li>
    {% endfor %}
  </ul>
</div>
