{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<div class="content">
  <h1>Team Management Application</h1>
  <h2>You have {{ object_list|length }} team members.</h2>
  <ul>
    {% for user in object_list %}
    <li>
      <img src="{% static 'images/faceless.jpeg' %}" />
      <br />
      {{ user.first_name }} {{ user.last_name }} {% if user.is_admin == True %}
      (Admin) {% endif %}
      <br />
      {{ user.phone_number }}
      <br />
      {{ user.email }}
    </li>
    {% empty %}
    <li>No teammates yet.</li>
    {% endfor %}
  </ul>
</div>
